.certifications{
    background:#ffffff;
    border-bottom:1px solid #f1f5f9;

    padding:80px 8%;
    
    scroll-margin-top:90px;
}

.certifications-container{
    max-width:1100px;
    margin:auto;
    text-align:center;
}

.certifications h2{
    font-size:2.6rem;
    color:#1e293b;
    margin-bottom:35px;
    position:relative;
}

.certifications h2::after{
    content:"";
    width:70px;
    height:4px;
    background:#2563eb;
    display:block;
    margin:15px auto 0;
    border-radius:50px;
}

.certifications-intro{

    max-width:760px;

    margin:30px auto;

    color:#64748b;

    line-height:1.8;

    font-size:1.08rem;

}

.certifications-summary{

    display:inline-block;

    background:#eff6ff;

    color:#2563eb;

    padding:12px 24px;

    border-radius:50px;

    font-weight:600;

    margin-bottom:60px;

}

.certifications-grid{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:30px;

}

.certificate-card{

    background:white;

    border-radius:18px;

    padding:35px 25px;

    border:1px solid #e5e7eb;

    box-shadow:0 10px 25px rgba(0,0,0,.07);

    transition:.35s;

}

.certificate-card:hover{

    transform:translateY(-8px);

    box-shadow:0 20px 45px rgba(37,99,235,.15);
    transition:.35s;

}

.certificate-icon{

    width:70px;

    height:70px;

    margin:auto;

    border-radius:50%;

    background:#eff6ff;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:2rem;

    color:#2563eb;

    margin-bottom:20px;

}

.certificate-card h3{

    color:#1e293b;

    margin-bottom:12px;

}

.certificate-card p{

    color:#64748b;

    margin-bottom:10px;

}

.certificate-card span{

    display:inline-block;

    background:#dbeafe;

    color:#2563eb;

    padding:8px 16px;

    border-radius:50px;

    font-weight:600;

    margin-bottom:20px;

}

.certificate-skills{

    color:#475569;

    line-height:1.8;

    margin-bottom:25px;

}

.certificate-card a{

    display:inline-block;

    text-decoration:none;

    background:#2563eb;

    color:white;

    padding:12px 24px;

    border-radius:10px;

    font-weight:600;

    transition:.3s;

}

.certificate-card a:hover{

    background:#1d4ed8;
    transition:.35s;

}

@media(max-width:900px){

.certifications-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:768px){

.certifications-grid{

grid-template-columns:1fr;

}

}
